.App {
  font-family: sans-serif;
  text-align: center;
}

.rooms-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.room {
  margin: 25px;
}
